<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.common.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.blog.common.entity.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="INTEGER" />
    <result column="user_sex" property="userSex" jdbcType="VARCHAR" />
    <result column="user_qq" property="userQq" jdbcType="INTEGER" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_address" property="userAddress" jdbcType="VARCHAR" />
    <result column="user_mark" property="userMark" jdbcType="INTEGER" />
    <result column="user_rank_id" property="userRankId" jdbcType="TINYINT" />
    <result column="user_last_login_ip" property="userLastLoginIp" jdbcType="VARCHAR" />
    <result column="user_birthday" property="userBirthday" jdbcType="INTEGER" />
    <result column="user_description" property="userDescription" jdbcType="VARCHAR" />
    <result column="user_image_url" property="userImageUrl" jdbcType="VARCHAR" />
    <result column="user_school" property="userSchool" jdbcType="VARCHAR" />
    <result column="user_register_time" property="userRegisterTime" jdbcType="INTEGER" />
    <result column="user_register_ip" property="userRegisterIp" jdbcType="VARCHAR" />
    <result column="user_last_update_time" property="userLastUpdateTime" jdbcType="INTEGER" />
    <result column="user_weibo" property="userWeibo" jdbcType="VARCHAR" />
    <result column="user_says" property="userSays" jdbcType="VARCHAR" />
    <result column="user_lock" property="userLock" jdbcType="TINYINT" />
    <result column="user_freeze" property="userFreeze" jdbcType="TINYINT" />
    <result column="user_power" property="userPower" jdbcType="VARCHAR" />
  </resultMap>
</mapper>